@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@700&display=swap');

:root {
    --bg-colour1: #555;
    --bg-colour2: #444;
    --text-colour1: #DDD;
    --text-colour2: #777;
    --correct-colour: #5F5;
    --incorrect-colour: #F55;
    --next-round-colour: #FFF;
}

body {
    margin: 0;
    font-family: 'Noto Sans SC', sans-serif;
}

#game {
    width: 100vw;
    height: 100vh;
    background: var(--bg-colour2);
    font-size: 22pt;
    display: grid;
    justify-content: center;
    align-content: center;
}

#setup-container {
    gap: 0.5em;
}

#setup-container,
#round-container,
#next-round-container {
    width: clamp(10vw, 50vh, 80vw);
    height: clamp(10vw, 50vh, 80vw);
    background: var(--bg-colour1);
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 1em;
}

#round-container {
    justify-items: center;
}

#setup-container > input,
#setup-container > select {
    font-size: 1em;
    color: var(--text-colour1);
    background: var(--bg-colour2);
}

#round-container > div {
    font-size: 1em;
    color: var(--text-colour1);
}

#word::first-letter {
    text-transform: uppercase;
}

#button-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    width: 3em;
}

#button-container > div {
    display: relative;
    float: left;
    border: 1px solid;
    border-radius: 1em;
    width: 2em;
    height: 2em;
    margin: 0.5em;
    line-height: 2em;
    user-select: none;
}

#correct {
    color: var(--correct-colour);
    border-color: var(--correct-colour);
    font-weight: 900;
}

#correct:hover {
    background: var(--correct-colour);
    border-color: var(--correct-colour);
    color: var(--text-colour2);
}

#incorrect {
    color: var(--incorrect-colour);
    border-color: var(--incorrect-colour);
}

#incorrect:hover {
    background: var(--incorrect-colour);
    border-color: var(--incorrect-colour);
    color: var(--text-colour1);
}

#next-round-container {
    color: var(--text-colour1);
    align-items: center;
}

#next-round-button,
#play-again-button,
#submit {
    display: relative;
    border: 1px solid var(--next-round-colour);
    border-radius: 1em;
    height: 2em;
    line-height: 2em;
    color: var(--next-round-colour);
    user-select: none;
}

#next-round-button:hover,
#play-again-button:hover,
#submit:hover {
    color: var(--text-colour2);
    background: var(--next-round-colour);
}
